<div class="form">
  <div class="form__container">
    <h1 class="form__title">{{info}}</h1>
    <p class="form__text">Дані оновлено</p>
  </div>
  <div class="form__button">
    <a href="/" class="form__button_text">Повернутися назад</a>
  </div>


</div>